<div class="modal-header">
    <h3 class="modal-title">Conditional filter: {{column.Display}}</h3>
</div>
<div class="modal-body">
    <div class="row" ng-repeat="conditionItem in currentConditionalFilter">
        <div class="col-md-2">{{column.Display}}</div>
        <div class="col-md-2">
            <select class="form-control" ng-model="conditionItem.condition">
                <option value="==">==</option>
                <option value="!=">!=</option>
                <option value=">">></option>
                <option value=">=">>=</option>
                <option value="<"><</option>
                <option value="<="><=</option>
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="conditionItem.value">
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-model="conditionItem.conjunction">
                <option value="">--</option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button class="btn btn-xs btn-danger" ng-click="removeCondition(conditionItem)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <!-- input for a new condition -->
    <div class="row">
        <div class="col-md-2">{{column.Display}}</div>
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control" ng-model="conditionalFilterItem.condition">
                    <option value="==">==</option>
                    <option value="!=">!=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="conditionalFilterItem.value" placeholder="dd.MM.yyyy">
            </div>
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-model="conditionItem.conjunction">
                <option value="">--</option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button class="btn btn-xs btn-primary" ng-click="addCondition()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <!-- formal overview -->
    <div class="row" ng-if="formulaText != ''">
        <div class="col-md-12">
            <hr />
            <h4>Bedingungen als Formel</h4>
        </div>
        <div class="col-md-12">
            <p>{{formulaText}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="Reset()">{{FilterTable.Translations.FilterTable_Reset_Filter}}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{{FilterTable.Translations.FilterTable_Accept}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{FilterTable.Translations.FilterTable_Cancel}}</button>
</div>

