<div ng-switch="filterTable.Status" class="filtertable-container">
    <div class="row">
        <div ng-switch-when="Loading" class="col-md-12" style="text-align: center;">
            <span>Loading <img src="bower_components/SmlAppl-WebApps-NgFramework/dist/images/loader-horizontal.gif" /></span>
        </div>
        <div ng-switch-when="Error" class="col-md-12" style="text-align: center;">
            <span>{{::Translations.FilterTable_Error_Getting_Data}}</span>
        </div>

    </div>
    <div class="row" ng-switch-when="Structure">
        <div class="col-md-12">
            <div style="overflow: auto;">
                <table class="table table-bordered table-condensed table-responsive table-striped table-hover filtertable-table">
                    <thead class="filtertable-table-header">
                        <tr>
                            <th>
                                <span type="button" class="btn btn-default btn-sm" ng-click="open()" ng-show="filterTable.CanCustomize"><span class="glyphicon glyphicon-cog"></span></span>
                            </th>
                            <th ng-repeat="col in filterTable.VisibleCols" style="padding-left: 10px; padding-right: 40px; vertical-align: middle; cursor: pointer;" ng-click="filterTable.UpdateOrderBy(col, $event)">
                                <span class="pull-left">{{::col.Display}}</span>
                                <span style="margin-right: -30px; opacity: 0.5;" class="pull-right {{col.OrderIndicator}}"></span>
                            </th>
                        </tr>
                        <tr ng-show="filterTable.SearchActive">
                            <td>
                                <span type="button" class="btn btn-default btn-sm" ng-click="filterTable.ClearFilter()"><span class="glyphicon glyphicon-remove"></span></span>
                            </td>

                            <td ng-repeat="col in filterTable.VisibleCols" ng-switch="col.FilterType">
                                <div ng-switch-when="CustomHtml" title="{{col.CustomFilter.Tooltip}}" style="cursor: pointer; min-height: 28px;" ng-click="defineFilter(col)">
                                    <span ng-bind-html="col.CustomFilter.InputHtml"></span>
                                </div>
                                <div class="input-group" ng-switch-when="Custom" title="{{col.CustomFilter.Tooltip}}" style="cursor: pointer; width: 1px;" ng-click="defineFilter(col)">
                                    <input type="text" class="form-control" style="cursor: pointer; width: auto;" value="{{col.CustomFilter.Text}}" readonly="readonly" disabled="disabled" ng-model-options="ModelOptions"/>
                                    <span class="input-group-addon">...</span>
                                </div>
                                <!--<div class="input-group" ng-switch-when="Custom" title="{{col.CustomFilter.Tooltip}}" style="cursor: pointer; width: 1px;" ng-click="defineFilter(col)">
                                    <input type="text" class="form-control" style="cursor: pointer; width: auto;" value="{{col.CustomFilter.Text}}" readonly="readonly" disabled="disabled" ng-model-options="ModelOptions" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default">...</button>
                                        <button type="button" class="btn btn-default" title="reset" ng-click="resetFilter(col, $event)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>-->
                                <select ng-switch-when="Select" class="select2" name="filterTable.TableFilter[col.Key]" ng-model="filterTable.TableFilter[col.Key]">
                                    <option ng-repeat="item in col.GetDistincts(filterTable.ReduceSelects, true)">{{::item}}</option>
                                </select>
                                <input ng-switch-when="Input" type="text" name="filterTable.TableFilter[col.Key]" ng-model="filterTable.TableFilter[col.Key]" ng-model-options="ModelOptions"/>

                            </td>
                        </tr>
						<tr ng-repeat="headerRow in filterTable.HeaderRows">
							<th>
								<span ng-bind-html="::headerRow.Title"></span>
							</th>
							<th ng-repeat="col in filterTable.VisibleCols">
								<span ng-bind-html="headerRow.GetValue(col)"></span>
							</th>
						</tr>
                    </thead>
                    <tbody class="filtertable-table-body" ng-if="filterTable.VisibleCols.length > 0">
                        <tr ng-repeat="item in filterTable.DataDisplayed">
                            <td class="text-center" ng-class="::{'filtertable-cell-clickable' : filterTable.ActionCol.HasClickAction}" ng-click="filterTable.ExecuteClickAction(filterTable.ActionCol, item)">
                                <span ng-bind-html="::item[filterTable.ActionCol.Key]"></span>
                            </td>
                            <td ng-repeat="col in filterTable.VisibleCols" ng-class="::{'filtertable-cell-clickable' : col.HasClickAction}" ng-click="filterTable.ExecuteClickAction(col, item)">
                                <span ng-bind-html="::item[col.Key]"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="filtertable-table-footer">
                        <tr ng-if="filterTable.Loading">
                            <td colspan="100%" class="none" style="text-align: center;">Loading <img src="bower_components/SmlAppl-WebApps-NgFramework/dist/images/loader-horizontal.gif" /></td>
                        </tr>
                        <tr ng-if="filterTable.ShowNoDataMsg">
                            <td colspan="100%" class="warning" style="text-align: center;">
                                {{::Translations.FilterTable_Error_No_Data}}
                            </td>
                        </tr>
                        <tr ng-if="filterTable.ShowDataFilteredOutMsg">
                            <td colspan="100%" class="warning" style="text-align: center;">
                                {{::Translations.FilterTable_Error_Filter_No_Data}}
                            </td>
                        </tr>
                        <tr ng-repeat="footerRow in filterTable.FooterRows">
                            <th>
                                <span ng-bind-html="::footerRow.Title"></span>
                            </th>
                            <th ng-repeat="col in filterTable.VisibleCols">
                                <span ng-bind-html="footerRow.GetValue(col)"></span>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row filtertable-footer">
                <div class="col-md-12" ng-if="!filterTable.Loading && filterTable.HasData">
                    <div class="pull-right">
                        <button class="btn btn-default" style="float: left;" ng-click="filterTable.CurrentPage = 1" ng-disabled="filterTable.BackwardDisabled"><i class="fa fa-fast-backward"></i></button>
                        <button class="btn btn-default" style="float: left;" ng-click="filterTable.CurrentPage = (filterTable.CurrentPage - 1)" ng-disabled="filterTable.BackwardDisabled"><i class="fa fa-step-backward"></i></button>
                        <div style="float: left; text-align: right;">
                            <select ng-model="filterTable.CurrentPage"
                                    ng-options="item as item for item in filterTable.FilterPageArray"></select>
                            {{::Translations.FilterTable_Page}} {{ filterTable.CurrentPage }} {{::Translations.FilterTable_Of}} {{ filterTable.FilterDataPageCount }} ({{filterTable.PassedDataPageCount}} {{::Translations.FilterTable_Total}})
                        </div>
                        <button class="btn btn-default" style="float: right;" ng-click="filterTable.CurrentPage = filterTable.FilterDataPageCount" ng-disabled="filterTable.ForwardDisabled"><i class="fa fa-fast-forward"></i></button>
                        <button class="btn btn-default" style="float: right;" ng-click="filterTable.CurrentPage = (filterTable.CurrentPage + 1)" ng-disabled="filterTable.ForwardDisabled"><i class="fa fa-step-forward"></i></button>
                    </div>
                    <div style="float: left;">
                        {{::Translations.FilterTable_Records}}: {{filterTable.DataFiltered.length}} {{::Translations.FilterTable_Of}} {{filterTable.PassedData.length}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>